/* ---- Elements ---- */
html, body {
   font-family: 'Roboto', sans-serif;
   width: 100%;
   height: 100%;
}

/* ---- Classes ---- */

.navbar {
   margin-bottom: 0px;
}

.jumbotron {
   height: 80vh;
}

/* ---- Carousel ---- */

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel {
   height: 80vh;
}

.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

/* ---- Social Media ---- */

.social {
   text-decoration: none !important;
}

svg {
   display: inline-block;
   height: 4.5rem;
   max-height: 80px;
   width: auto;
   stroke: #000;
   stroke-width: 15;
   fill: none;
}

#tw {stroke-dasharray:  300 , 0, 3000;}
#fa {stroke-dasharray:    0 , 0, 2900;}

svg:hover #tw {
   animation: tw 1s;
   und
}
svg:hover #fa { animation: fa 1s; }

@keyframes tw { 10% {stroke-dasharray:  300, 500, 3000} 100% { stroke-dasharray:3300, 500, 3000;} }
@keyframes fa { 10% {stroke-dasharray:    0, 500, 2900} 100% { stroke-dasharray:2900, 500, 2900;} }
