html, body {
   font-family: 'Roboto', sans-serif;
   width: 100%;
   height: 100%;
}

#main {
   width: 100%;
}

.header {
   padding: 0px;
   margin: 0px;
}

.footer {
   position: relative;
   clear:both;
   padding-top: 20px;
}

.footer-brand {
   margin-bottom: 0px;
}

.jumbotron {
   padding-top: 1rem !important;
   padding-left: 3rem;
   padding-right: 3rem;
   padding-bottom: 0px;
   margin-bottom: 0px !important;
}

#contact-jumbotron {
   padding-bottom: 10px !important;
}

.navbar-default {
   margin-bottom: 0px !important;
}

.navbar-fixed-bottom {
   background-color: #fff !important;
}

.day-title {
   cursor: pointer;
}

.concept {
   padding-left: 1rem;
}

#view-row {
   height: 50vh;
}

#syllabus-container {
   margin-left: 5%;
   margin-right: 0px;
}

#syllabus-col {
   height: 55rem;
   overflow-y: scroll;
}

#about-head-img {
   padding-top: 60px;
}

.banner {
   padding: 20vh;
   width: 100%;
   background-size: cover;
}

#home-banner { background-image: url('../img/home_banner.jpg'); }
#syllabus-banner { background-image: url('../img/syllabus_banner.jpg'); }
#about-banner { background-image: url('../img/about_banner.jpg'); }
#contact-banner { background-image: url('../img/contact_banner.jpg'); }


/** Social Media **/

.social {
   text-decoration: none !important;
}

svg {
   display: inline-block;
   height: 4.5rem;
   max-height: 80px;
   width: auto;
   stroke: #000;
   stroke-width: 15;
   fill: none;
}

#tw {stroke-dasharray:  300 , 0, 3000;}
#fa {stroke-dasharray:    0 , 0, 2900;}

svg:hover #tw {
   animation: tw 1s;
   und
}
svg:hover #fa { animation: fa 1s; }

@keyframes tw { 10% {stroke-dasharray:  300, 500, 3000} 100% { stroke-dasharray:3300, 500, 3000;} }
@keyframes fa { 10% {stroke-dasharray:    0, 500, 2900} 100% { stroke-dasharray:2900, 500, 2900;} }
