<div class="jumbotron">
	<div class="page-header">
		<h1>go_code <small>Computer Science Made Simple</small></h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8">
				<p><big>Trey Lowerison attended Templeton High School and graduated as Salutatorian in 2015. He is a nationally recognized scholar and is currently double majoring in Computer Science and Physics at Cal Berkeley.</big></p>
			</div>
			<div class="col-4">
				<img src="img/about_banner.jpg" with="160" height="160" />
			</div>
		</div>
	</div>
</div>
