<div class="jumbotron">
	<div class="container">
		<div class="page-header">
			<h1>go_code <small>Computer Science Made Simple</small></h1>
		</div>
		<p><big>A two week crash course that will teach you a wide range of skills in Computer Programming. Experience is not necessary, but experienced programmers will still be challenged! Course will be taught using Python, the most easily learned coding language in the industry.</big></p>
	</div>
</div>
<div id="home-banner" class="container-fluid"></div>
