<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1>go_code <small>Computer Science Made Simple</small></h1>
			</div>
		</div>
		<div class="row">
			<p>A two week crash course (July 11 - July 21 or July 25 - Aug. 4) in Computer Programming that will teach you a wide range of skills. Experience is not necessary, but experienced programmers will still be challenged! Course will be taught using Python, the most easily learned coding language in the industry.</p>
		</div>
	</div>
</div>
<div id="home-banner" class="banner"></div>
